<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>HY&YA's Album</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
  <link rel="icon" href="favicon.svg">
  <!-- import CSS -->
  <link href="dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/album.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    [v-cloak] {
      display: none;
    }
    .title {
      color: black;
    }
    .title:hover {
      color: #409eff;
    }
  </style>
</head>

<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">HY&YA's Album👬</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="https://github.com/hya14217/hya14217.github.io" class="text-white">View on GitHub</a></li>
              <li><a href="https://www.instagram.com/liadrinz/" class="text-white">YA's Instagram</a></li>
              <li><a href="https://www.instagram.com/patrickg51/" class="text-white">HY's Instagram</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2">
            <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path>
            <circle cx="12" cy="13" r="4"></circle>
          </svg>
          <strong>HY&YA's Album (疫情快点结束吧)</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
          aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
  <div id="app" v-cloak>
    <el-menu :default-active="nav" mode="horizontal" @select="handleNav">
      <el-menu-item index="0">相册</el-menu-item>
      <el-menu-item index="1">日记</el-menu-item>
      <el-menu-item index="2">日历</el-menu-item>
    </el-menu>
    <div v-if="nav == 2" class="container">
      <h1>已经有{{ parseInt((Date.now() - new Date(2022, 0, 2)) / 3600000 / 24) }}天没有见面了</h1>
      <el-calendar v-model="date">
        <template slot="dateCell" slot-scope="{date, data}">
        <p :class="data.isSelected ? 'is-selected' : ''">
          {{ date.getDate() }}
          <p>
            <el-tag type="success" v-if="date.getDate() == 14 && date.getMonth() == 8 && date.getFullYear() == 2021">在一起</el-tag>
            <el-tag type="success" v-if="date.getDate() == 14 && date.getMonth() == 8 && date.getFullYear() - 2021 > 0">{{ date.getFullYear() - 2021 }}周年</el-tag>
            <el-tag type="success" v-if="date.getDate() == 14 && date.getMonth() == 9 && date.getFullYear() - 2001 > 0">阳阳{{ date.getFullYear() - 2001 }}岁</el-tag>
            <el-tag type="success" v-if="date.getDate() == 17 && date.getMonth() == 9 && date.getFullYear() - 1999 > 0">昂昂{{ date.getFullYear() - 1999 }}岁</el-tag>
            <el-tag type="success" v-if="date.getDate() == 14 && date.getMonth() != 8 && (date.getMonth() - 8) + (date.getFullYear() - 2021) * 12 > 0">{{ (date.getMonth() - 8) + (date.getFullYear() - 2021) * 12 }}个月</el-tag>
            <el-tag type="success" v-if="log2((new Date(date.getFullYear(), date.getMonth(), date.getDate()) - new Date(2021, 8, 14)) / 3600000 / 24) != -1">
              {{(new Date(date.getFullYear(), date.getMonth(), date.getDate()) - new Date(2021, 8, 14)) / 3600000 / 24}}日
            </el-tag>
          </p>
        </p>
      </template>
      </el-calendar>
    </div>
    <div v-if="nav == 1" class="container">
      <div v-show="articleShown == -1">
        <el-card v-for="(article, idx) in parseArticles(articles)" @click.native="showArticle(idx)">
          <el-button type="text" @click="showArticle(idx)">
            <h2 class="title">{{article.title}}</h2>
          </el-button>
          <div></div>
          <small class="text-muted">发表时间: {{ article.mtime }}</small>
        </el-card>
      </div>
      <div v-show="articleShown != -1">
        <el-button type="text" @click="back">
          <i class="el-icon-back">返回</i>
        </el-button>
        <div id="show-content"></div>
      </div>
    </div>
    <div v-if="nav == 0" class="album py-5 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-4" v-for="photo, idx in photos">
            <div class="card mb-4 box-shadow">
              <el-image :id="`img-${idx}`" class="card-img-top" :src="`assets/thumbnail/${photo.name}`" fit="cover" :preview-src-list="project('name', (name) => `assets/img/${name}`, idx)"></el-image>
              <div class="card-body">
                <p class="card-text">{{photo.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="preview(`img-${idx}`)">
                      预览
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary" @click="viewRaw(photo)">
                      原图
                    </button>
                  </div>
                  <small class="text-muted">上传时间: {{ photo.upload_time }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="assets/js/jquery-slim.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>
<script src="assets/js/holder.min.js"></script>
<script src="data.js"></script>
<script src="article.js"></script>
<script>
  photos.reverse();
  new Vue({
    el: '#app',
    data: function () {
      return {
        nav: '1',
        articleShown: -1,
        photos: photos,
        articles: articles,
        date: new Date(),
      }
    },
    created() {
      this.article.sort((a, b) => {
        return Date.parse(a.mtime) > Date.parse(b.mtime);
      })
    },
    methods: {
      viewRaw(photo) {
        window.location.href = `assets/upload/${photo.name}`;
      },
      preview(id) {
        $("#" + id).click();
      },
      project(key, postprocess, beginAt=0) {
        let result = [];
        for (let photo of this.photos) {
          result.push(postprocess(photo[key]));
        }
        return result.slice(beginAt).concat(result.slice(0, beginAt));
      },
      log2(x) {
        let n = Math.log2(x);
        if (n == parseInt(n)) {
          return n;
        }
        return -1;
      },
      handleNav(key, keyPath) {
        this.nav = key;
      },
      parseArticles(articles) {
        return articles.map(article => {
          article.title = article.content.split("\n")[0].replace(/^# /, "");
          return article;
        })
      },
      showArticle(idx) {
        let articles = this.parseArticles(this.articles);
        let { title, content, mtime } = articles[idx];
        document.getElementById("show-content").innerHTML = marked.parse(content);
        this.articleShown = idx;
      },
      back() {
        this.articleShown = -1;
      }
    }
  })
</script>

</html>